
  
                <div class="form-panel">
                <div class=" form">
                    <form class="cmxform form-horizontal style-form" id="commentForm" method="POST">
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">From Address</label>
                        <div class="col-lg-10">
                        <input class=" form-control" id="cname" name="fromadd" minlength="2" type="text" value={{tran}} readonly/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">To Address</label>
                        <div class="col-lg-10">
                        <input class=" form-control"  id="cname" name="toadd" minlength="2" type="text" required />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Amount</label>
                        <div class="col-lg-10">
                        <input class=" form-control" id="cname" name="amt" minlength="2" type="text" required />
                        </div>
                    </div>
                              <button type="submit" class="btn btn-success center-block" onclick="window.location.href = '/miningtransaction'">                                  
                                   Create Transaction
                                </button>        
                      </div>
                    </div>
